<form action="/create" method="POST">
    <h3>Create todo</h3>
    
    <div class="input-field"> 
        <input type="text" name="title">
        <label> Todo title </label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>


